<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
 
    <script src="~/js/jquery-2.2.4.min.js"></script>

    <script src="~/js/jquery-plugin-collection.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.base64.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.base64.min.js"></script>

</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>